<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="item" style="height: 140px"></div>
      <div class="item" style="height: 190px"></div>
      <div class="item" style="height: 170px"></div>
      <div class="item" style="height: 120px"></div>
      <div class="item" style="height: 160px"></div>
      <div class="item" style="height: 180px"></div>
      <div class="item" style="height: 140px"></div>
      <div class="item" style="height: 150px"></div>
      <div class="item" style="height: 170px"></div>
      <div class="item" style="height: 170px"></div>
    </div>
  </body>
</html>
